<nav class="navbar navbar-expand-lg navbar-dark text-light bg-dark">
  <a class="navbar-brand" routerLink="/"><i class="fas fa-bug"></i>Bug Tracker</a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
    aria-controls="navbarSupportedContent" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
    <span>
      <i class="fas fa-bars"></i>
    </span>
  </button>

  <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="collapsible">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/issues/list" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"><i class="far fa-list-alt"></i>Issues</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/issues/new" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"><i class="far fa-edit"></i>Submit Issue</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/reports" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i
            class="far fa-file-alt"></i>New Report</a>
      </li>
    </ul>
  </div>
</nav>