<div *ngIf="loggedIn" class="container-fluid">
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="navbar-brand">
      <a routerLink="/dashboard"><img src="../../assets/logo.png" width="60px" height="60px" alt="logo"><span>Bug Tracker</span></a>
    </div>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
      aria-controls="navbarSupportedContent" [attr.aria-expanded]="!isCollapsed" aria-label="Toggle navigation">
      <span>
        <i class="fas fa-bars"></i>
      </span>
    </button>
    <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="collapsible">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="{{url}}" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/projects" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i
              class="far fa-list-alt"></i>Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/knowledgebase" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i
              class="fas fa-book"></i>Knowledge Base</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/help" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i
              class="far fa-question-circle"></i>Help</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a *ngIf="user" class="nav-link" routerLink="/profile/{{user.uid}}"><i class="fas fa-user">            
          </i>Logged in ({{ user.fName}} {{user.lName | slice:0:1}}.)
        </a>
        </li>
        <li class="nav-item">
          <button class="btn-custom nav-link" (click)="signOut()"><i class="fas fa-sign-out-alt"></i>Sign out</button>
        </li>
      </ul>
    </div>
  </nav>
</div>