<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-md-12">
            <app-dynamic-table 
                [tableHeaders]="['Id','Name', 'Username', 'Role', 'Status']"
                [tableDataFields]="['id','name', 'username', 'role', 'status']" 
                [tableLabel]=true
                [actions]=true
                [actionsType]="'users'"
                [actionHeader]="'Actions'"
                [data]="users"
                [filterControl]=false 
                [pagination]=true 
                (onDeleteClicked)="deleteIssue($event)">
            </app-dynamic-table>
        </div>
    </div>
</div>