<div class="main-content vh-100 ml-auto mr-auto">
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-sm-12">
                <div class="card shadow">
                    <div class="card-header bg-dark text-light"><i class="fas fa-search"></i> Knowledge Base</div>
                    <div class="card-body">
                        <p class="px-2 py-4">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid quibusdam assumenda nulla
                            esse magni maxime alias ab eum aliquam? Atque facere enim hic magni totam ipsam esse
                            nesciunt iure excepturi, repellendus tenetur minima deserunt nemo quaerat suscipit sunt
                            aliquam earum error nulla amet et. Tenetur dolor possimus at modi rem cupiditate dolorum,
                            tempora facere placeat, voluptates praesentium sint, neque quis. Quae accusantium corporis
                            assumenda ratione consectetur inventore ipsum saepe nemo eius facilis sunt sit dignissimos
                            optio debitis, quis quo laborum necessitatibus. Ducimus aperiam esse, magnam incidunt eaque
                            adipisci vero illo odio vitae exercitationem iste placeat quas, quae explicabo blanditiis
                            facilis.
                        </p>
                    </div>
                    <div class="d-flex flex-md-row flex-sm-column py-5 mb-4 bg-dark">
                        <div class="col-sm-12 input-group">
                            <input type="text" name="searchTerms" id="searchTerms" class="mr-2 form-control"
                                placeholder="Search...">
                        </div>
                    </div>
                    <div class="d-flex flex-md-row flex-sm-column justify-content-center mb-3">
                        <div class="articles-container col-sm-4 mb-sm-2">
                            <div class="card articles border border-secondary text-center">
                                <div class="card-header border-0 bg-light text-light">
                                    <i class="fas fa-user"></i>
                                    <p class="m-0 p-0">Administration</p>
                                    <p class="text-muted m-0 p-0">Manage your account</p>
                                </div>
                                <div class="card-body p-0 m-0 text-left">
                                    <ul>
                                        <li><a routerLink="">Signing out</a></li>
                                        <li><a routerLink="">Resetting your password</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="articles-container col-sm-4 mb-sm-2">
                            <div class="card articles border border-secondary text-center">
                                <div class="card-header border-0 bg-light text-light">
                                    <i class="fas fa-user"></i>
                                    <p class="m-0 p-0">Projects</p>
                                    <p class="text-muted m-0 p-0">Project management</p>
                                </div>
                                <div class="card-body p-0 m-0 text-left">
                                    <ul>
                                        <li><a routerLink="">Creating a New Project</a></li>
                                        <li><a routerLink="">Managing Your Project</a></li>
                                        <li><a routerLink="">Deleteing a Project</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="articles-container col-sm-4 mb-sm-2">
                            <div class="card articles border border-secondary text-center">
                                <div class="card-header border-0 bg-light text-light">
                                    <i class="fas fa-tachometer-alt"></i>
                                    <p class="m-0 p-0">Dashboard</p>
                                    <p class="text-muted m-0 p-0">User performance</p>
                                </div>
                                <div class="card-body p-0 m-0 text-left">
                                    <ul>
                                        <li><a routerLink="">Dashboard Overview</a></li>
                                        <li><a routerLink="">Charts Overview</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex flex-md-row flex-sm-column justify-content-center mb-4">
                        <div class="articles-container col-sm-4 mb-sm-2">
                            <div class="card articles border border-secondary text-center">
                                <div class="card-header border-0 bg-light text-light">
                                    <i class="fas fa-user"></i>
                                    <p class="m-0 p-0">Integrations</p>
                                    <p class="text-muted m-0 p-0">For advanced users</p>
                                </div>
                                <div class="card-body p-0 m-0 text-left">
                                    <ul>
                                        <li><a routerLink="">Firebase API</a></li>
                                        <li><a routerLink="">Developer notes</a></li>
                                        <li><a routerLink="">Update notes...</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="articles-container col-sm-4 mb-sm-2">
                            <div class="card articles border border-secondary text-center">
                                <div class="card-header border-0 bg-light text-light">
                                    <i class="fas fa-user"></i>
                                    <p class="m-0 p-0">Bug Reporting</p>
                                    <p class="text-muted m-0 p-0">Manage your account</p>
                                </div>
                                <div class="card-body p-0 m-0 text-left">
                                    <ul>
                                        <li><a routerLink="">Bug Reporting Overview</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="articles-container col-sm-4 mb-sm-2">
                            <div class="card articles border border-secondary text-center">
                                <div class="card-header border-0 bg-light text-light">
                                    <i class="fas fa-file-alt"></i>
                                    <p class="m-0 p-0">Reports</p>
                                    <p class="text-muted m-0 p-0">Manage your account</p>
                                </div>
                                <div class="card-body p-0 m-0 text-left">
                                    <ul>
                                        <li><a routerLink="">Reports Overview</a></li>
                                        <li><a routerLink="">Searching for a Technician</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>