<div class="main-content ml-auto mr-auto">
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col-sm-12">
                <div class="card shadow">
                    <div class="card-header bg-dark text-light"><i class="fas fa-search"></i> Projects</div>
                    <div class="card-body">
                        <p class="px-2 py-4">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid quibusdam assumenda nulla
                            esse magni maxime alias ab eum aliquam? Atque facere enim hic magni totam ipsam esse
                            nesciunt iure excepturi, repellendus tenetur minima deserunt nemo quaerat suscipit sunt
                            aliquam earum error nulla amet et. Tenetur dolor possimus at modi rem cupiditate dolorum,
                            tempora facere placeat, voluptates praesentium sint, neque quis. Quae accusantium corporis
                            assumenda ratione consectetur inventore ipsum saepe nemo eius facilis sunt sit dignissimos
                            optio debitis, quis quo laborum necessitatibus. Ducimus aperiam esse, magnam incidunt eaque
                            adipisci vero illo odio vitae exercitationem iste placeat quas, quae explicabo blanditiis
                            facilis.
                        </p>
                    </div>
                    <div class="d-flex flex-md-row flex-sm-column py-5 mb-4 bg-dark">
                        <div class="col-sm-12 input-group">
                            <input type="text" name="searchTerms" id="searchTerms" class="mr-2 form-control" placeholder="Search...">
                        </div>
                    </div>
                    <div class="d-flex flex-md-row flex-sm-column justify-content-between text-center mb-2">
                        <div class="row table-responsive">
                            <div class="col">
                                <table class="table table-sm table-striped table-dark text-nowrap">
                                    <thead>
                                        <th>Project</th>
                                        <th>Open Tickets</th>
                                        <th>Closed Tickets</th>
                                        <th>Technicians</th>
                                        <th>Status</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Channel 6 Weather App</td>
                                            <td>99</td>
                                            <td>251</td>
                                            <td>3</td>
                                            <td>Development</td>
                                        </tr>
                                        <tr>
                                            <td>Clash of Tribes</td>
                                            <td>156</td>
                                            <td>1034</td>
                                            <td>8</td>
                                            <td>Maintenance</td>
                                        </tr>
                                        <tr>
                                            <td>Wattchat Messenger</td>
                                            <td>12</td>
                                            <td>103</td>
                                            <td>2</td>
                                            <td>Development</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>