<div class="container-fluid mt-2">
    <div class="row dashboard-widget">
        <div class="col-sm mb-1 mb-md-0">
            <h6 *ngIf="user">Welcome, {{name}}</h6>
        </div>
    </div>
    <div class="row dashboard-widget">
        <div class="col-sm-6 col-md-3 mb-1 mb-md-0">
            <div class="card shadow">
                <div class="card-header bg-dark text-light">My Open Issues</div>
                <div class="card-body">
                    <h2 class="card-text text-center">{{ticketStats.status.open}}</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-1 mb-md-0">
            <div class="card shadow">
                <div class="card-header bg-dark text-light">My Pending Issues</div>
                <div class="card-body">
                    <h2 class="card-text text-center">{{ticketStats.status.pending}}</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-1 mb-md-0">
            <div class="card shadow">
                <div class="card-header bg-dark text-light">My Closed Issues</div>
                <div class="card-body">
                    <h2 class="card-text text-center">{{ticketStats.status.closed}}</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-1 mb-md-0">
            <div class="card shadow">
                <div class="card-header bg-dark text-light">My Progress</div>
                <div class="card-body">
                    <h2 class="text-center m-0 p-0">{{progress | percent}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row dashboard-widget">
        <div class="col-sm-12 col-md-6 mb-1 mb-md-0">
            <div class="card shadow">
                <div class="card-header bg-dark text-light">My Issues by Priority</div>
                <div class="card-body">
                    <div class="chart-wrapper">
                        <canvas baseChart [data]="pieChartData2" [labels]="pieChartLabels2" [chartType]="pieChartType2"
                            [options]="pieChartOptions2" [plugins]="pieChartPlugins2" [legend]="pieChartLegend2"
                            [colors]="pieChartColors">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 mb-1 mb-md-0">
            <div class="card shadow">
                <div class="card-header bg-dark text-light">My Issues by Status</div>
                <div class="card-body">
                    <div class="chart-wrapper">
                        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                            [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend"
                            [colors]="pieChartColors">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row dashboard-widget">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-header bg-dark text-light">My Performance</div>
                <div class="card-body">
                    <div *ngIf="lineChartData" class="chart-wrapper mb-4">
                        <canvas id="lineChart" baseChart width="1" height="1"
                            [chartType]="'line'"
                            [datasets]="lineChartData"
                            [labels]="lineChartLabels"
                            [options]="lineChartOptions"
                            [legend]="true"
                            [colors]="lineChartColors">
                        </canvas>
                    </div>
                    <app-dynamic-table [tableHeaders]="['Technician', 'Open', 'Pending', 'Closed', 'Progress']"
                        [tableDataFields]="['tech','open','pending','closed', 'progress']" [data]="techs"
                        [filterControl]=false [pagination]=false>
                    </app-dynamic-table>
                </div>
            </div>
        </div>
    </div>

    <div class="row dashboard-widget">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-header bg-dark text-light">My Recent Activity</div>
                <div class="card-body">
                    <div *ngIf="recentHistory" class="row table-responsive">
                        <div class="col">
                            <table class="table table-sm table-striped table-dark text-nowrap">
                                <thead>
                                    <th>Date</th>
                                    <th>Action Taken</th>
                                    <th>ID</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of recentHistory | slice:0:10">
                                        <td>{{item.date.toDate() | date:'yyyy/MM/dd'}}</td>
                                        <td>{{item.action}}</td>
                                        <td>{{item.issueId}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>