<div *ngIf="issue$" class="card">
    <div class="card-body">
        <h5 class="card-title">ID: {{ issue$.id }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Title: {{ issue$.title }}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Technician: {{ issue$.tech }}</h6>
        <p class="card-text">Creation Date: {{ issue$.dateStart.toDate() | date:'yyyy/MM/dd' }}</p>
        <p *ngIf="issue$.dateEnd === '-'; else notShown"></p>
        <ng-template #notShown>
            <p>Completed Date:{{issue$.dateEnd.toDate() | date:'yyyy/MM/dd' }}</p>
        </ng-template>
        <hr>
        <div>
            <h6>Description:</h6>
            <p>{{ issue$.desc }}</p>
        </div>
        <hr>
        <div *ngIf="issue$.notes">
            <h6>Notes:</h6>
            <p *ngFor="let note of issue$.notes">{{ note }}</p>
        </div>
    </div>
</div>