<h6 *ngIf="errors" class="text-center alert alert-danger bg-danger text-white border-danger rounded-0 w-100" role="alert">{{errors}}</h6>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-md-12">
            <app-dynamic-table 
                [tableHeaders]="['Id','Title','Technician','Priority','Severity','Difficulty','Status','Submitted','Completed']"
                [tableDataFields]="['id','title','name','priority','severity','difficulty','status','dateStart','dateEnd']" 
                [tableLabel]=true
                [actions]=true
                [actionsType]="'issues'"
                [actionHeader]="'Actions'"
                [data]="issues"
                [filterControl]=true 
                [pagination]=true 
                (onFiltersApplied)="filtersChanged($event)"
                (onFiltersCleared)="filtersChanged($event)" 
                (onDeleteClicked)="deleteIssue($event)">
            </app-dynamic-table>
        </div>
    </div>
</div>