.dashboard-widget {
    margin-top: 1.5em;
}
th:hover {
    opacity: .75;
    cursor: pointer;
}
a,i {
    color: #39BEC1 !important;
    font-size: 1em;
    line-height: 2.25em;
    text-decoration: none;
}
a:hover {
    opacity: .5;
}