<div class="container-fluid">
    <div class="row">
        <nav class="col-sm-12 col-md-2 d-md-block navbar-light sidebar p-0 m-0">
            <div class="bootstrap">
                <!--Admin Menu-->
                <div *ngIf="role == 'admin'">
                    <button class="btn w-100 border-0 navbar-toggler" type="button" (click)="subMenu0 = !subMenu0"
                        aria-controls="navbarSupportedContent" [attr.aria-expanded]="!subMenu0"
                        aria-label="Toggle navigation">Admin
                        <span>
                            <i [ngClass]="subMenu0 ? 'fas fa-angle-right' : 'fas fa-angle-down'"></i>
                        </span>
                    </button>
                    <ul class="nav flex-column">
                        <div [ngbCollapse]="subMenu0" class="collapse navbar-collapse" id="collapsible">
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/dashboard/admin/home" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}"><i
                                        class="mr-1 fas fa-tachometer-alt"></i>Analytics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/dashboard/admin/issues" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">
                                    <i class="mr-1 fas fa-file-alt">
                                    </i>Manage Issues
                                </a>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/dashboard/admin/users" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">
                                    <i class="mr-1 fas fa-user">
                                    </i>Manage Users
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/dashboard/issues/new" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}"><i class="mr-1 fas fa-file-alt"></i>Submit
                                    Issue</a>
                            </li>
                        </div>
                    </ul>
                </div>

                <!--My Issues Menu-->
                <button class="btn w-100 border-0 navbar-toggler" type="button" (click)="subMenu1 = !subMenu1"
                    aria-controls="navbarSupportedContent" [attr.aria-expanded]="!subMenu1"
                    aria-label="Toggle navigation">Issues
                    <span>
                        <i [ngClass]="subMenu1 ? 'fas fa-angle-right' : 'fas fa-angle-down'"></i>
                    </span>
                </button>
                <ul class="nav flex-column">
                    <div [ngbCollapse]="subMenu1" class="collapse navbar-collapse" id="collapsible">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/dashboard/home" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}"><i
                                    class="mr-1 fas fa-tachometer-alt"></i>Analytics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/dashboard/issues/list/{{user.email}}"
                                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i
                                    class="mr-1 fas fa-bug"></i>My Issues</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/dashboard/issues/list/Unassigned" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}"><i class="mr-1 fas fa-bug"></i>Unassigned
                                Issues</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/dashboard/issues/new" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}"><i class="mr-1 fas fa-file-alt"></i>Submit
                                Issue</a>
                        </li>
                    </div>
                </ul>
            </div>
        </nav>
        <div class="col-md-10 main-content">
            <router-outlet></router-outlet>
        </div>
    </div>