<div class="container-fluid">
    <div class="row">
        <nav [ngClass]="sidebarToggle ? 'animate in' : 'animate out'"
            class="col-sm-12 col-md-2 d-md-block navbar-light sidebar p-0 m-0">
            <div *ngIf="sidebarToggle" class="menu p-0 m-0 pt-3">
                <!--Admin Menu-->
                <div *ngIf="role == 'admin'; else notShown">
                    <button class="btn w-100 border-0 navbar-toggler text-left" type="button"
                        (click)="subMenu0 = !subMenu0" aria-controls="navbarSupportedContent"
                        [attr.aria-expanded]="!subMenu0" aria-label="Toggle navigation">Admin
                        <span>
                            <i [ngClass]="subMenu0 ? 'fas fa-angle-right' : 'fas fa-angle-down'"></i>
                        </span>
                    </button>
                    <ul class="nav flex-column" [ngClass]="!subMenu0 ? 'animate fadeInOut' : ''">
                        <div [ngbCollapse]="subMenu0" class="collapse navbar-collapse" id="collapsible">
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/dashboard/admin/home" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}"><i
                                        class="mr-1 fas fa-chart-bar"></i>Analytics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/dashboard/admin/issues" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">
                                    <i class="mr-1 fas fa-file-alt">
                                    </i>Manage Issues</a>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/dashboard/admin/users" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">
                                    <i class="mr-1 fas fa-user">
                                    </i>Manage Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/dashboard/issues/new" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}"><i class="mr-1 fas fa-file-alt"></i>Submit
                                    Issue</a>
                            </li>
                        </div>
                    </ul>
                    <hr>
                    <!--Admin Reports Menu-->
                    <button class="btn w-100 border-0 navbar-toggler text-left" type="button"
                        (click)="subMenu1 = !subMenu1" aria-controls="navbarSupportedContent"
                        [attr.aria-expanded]="!subMenu1" aria-label="Toggle navigation">Reports
                        <span>
                            <i [ngClass]="subMenu1 ? 'fas fa-angle-right' : 'fas fa-angle-down'"></i>
                        </span>
                    </button>
                    <ul class="nav flex-column">
                        <div [ngbCollapse]="subMenu1" class="collapse navbar-collapse" id="collapsible"
                            [ngClass]="!subMenu1 ? 'animate fadeInOut' : ''">
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/dashboard/admin/reports/"
                                    [queryParams]=" { status:'Open', orderBy:'priority', reportType:'ordered' }"
                                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    <i class="mr-1 fas fa-file-alt"></i>Open Bugs by Priority</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/dashboard/admin/reports/"
                                    [queryParams]="{ status:'Open', orderBy:'severity', reportType:'ordered' }"
                                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                    <i class="mr-1 fas fa-file-alt"></i>Open Bugs by Severity</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/dashboard/admin/reports/"
                                    [queryParams]="{ status:'Open', reportType:'overview' }" routerLinkActive="active"
                                    [routerLinkActiveOptions]="{exact: true}">
                                    <i class="mr-1 fas fa-file-alt"></i>Open Bugs by Technician Overview</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" routerLink="/dashboard/admin/reports"
                                    [queryParams]="{ status:'Open', orderBy:'priority', reportType:'search' }"
                                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i
                                        class="mr-1 fas fa-file-alt"></i>Search Technician</a>
                            </li>
                        </div>
                    </ul>
                </div>
                <!--My Issues Menu-->
                <ng-template #notShown>
                    <div *ngIf="role != 'unassigned'; else unassigned">
                        <button class="btn w-100 border-0 navbar-toggler text-left" type="button"
                            (click)="subMenu0 = !subMenu0" aria-controls="navbarSupportedContent"
                            [attr.aria-expanded]="!subMenu0" aria-label="Toggle navigation">Issues
                            <span>
                                <i [ngClass]="subMenu0 ? 'fas fa-angle-right' : 'fas fa-angle-down'"></i>
                            </span>
                        </button>
                        <ul class="nav flex-column">
                            <div [ngbCollapse]="subMenu0" class="collapse navbar-collapse" id="collapsible"
                                [ngClass]="!subMenu0 ? 'animate fadeInOut' : ''">
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/dashboard/home" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}"><i
                                            class="mr-1 fas fa-chart-bar"></i>Analytics</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/dashboard/issues/new" routerLinkActive="active"
                                        [routerLinkActiveOptions]="{exact: true}"><i
                                            class="mr-1 fas fa-file-alt"></i>Submit
                                        Issue</a>
                                </li>
                            </div>
                        </ul>
                        <hr>
                        <!--Reports Menu-->
                        <button class="btn w-100 border-0 navbar-toggler text-left" type="button"
                            (click)="subMenu1 = !subMenu1" aria-controls="navbarSupportedContent"
                            [attr.aria-expanded]="!subMenu1" aria-label="Toggle navigation">Reports
                            <span>
                                <i [ngClass]="subMenu1 ? 'fas fa-angle-right' : 'fas fa-angle-down'"></i>
                            </span>
                        </button>
                        <ul class="nav flex-column">
                            <div [ngbCollapse]="subMenu1" class="collapse navbar-collapse" id="collapsible"
                                [ngClass]="!subMenu1 ? 'animate fadeInOut' : ''">
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/dashboard/reports/"
                                        [queryParams]=" { tech:user.email, status:'Open', orderBy:'priority', reportType:'ordered' }"
                                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                        <i class="mr-1 fas fa-file-alt"></i>My Open Issues</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/dashboard/reports/"
                                        [queryParams]=" { tech:user.email, status:'Pending', orderBy:'priority', reportType:'ordered' }"
                                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                        <i class="mr-1 fas fa-file-alt"></i>My Pending Issues</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/dashboard/reports/"
                                        [queryParams]=" { tech:user.email, status:'Closed', orderBy:'priority', reportType:'ordered' }"
                                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                        <i class="mr-1 fas fa-file-alt"></i>My Closed Issues</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/dashboard/reports/"
                                        [queryParams]=" { tech:'Unassigned', status:'Open', orderBy:'priority', reportType:'ordered' }"
                                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                        <i class="mr-1 fas fa-file-alt"></i>Unassigned Issues</a>
                                </li>
                            </div>
                        </ul>
                    </div>
                    <ng-template #unassigned>
                    </ng-template>
                </ng-template>
            </div>
        </nav>
        <div class="col-sm-12 col-md-1 navbar-light sidebarToggle p-0 m-0 d-flex justify-content-center">
            <button class="btn w-100 navbar-toggler p-0 m-0" type="button" (click)="sidebarToggle = !sidebarToggle"
                aria-controls="navbarSupportedContent" [attr.aria-expanded]="!sidebarToggle"
                aria-label="Toggle sidebar navigation">
                <span>
                    <i [ngClass]="sidebarToggle ? 'fas fa-angle-right' : 'fas fa-angle-left'"></i>
                </span>
            </button>
        </div>
        <div class="col-sm-12 col-md-9 main-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>