.sidebar{
    max-width:250px;
    box-shadow: 4px 0px 2px 0px rgba(0,0,0,.15);
    border-bottom: 2px solid #7c7c7c;
    border-right: 2px solid #7c7c7c;
}

.sidebarToggle {
    .btn {
        max-width:15px;
    }
    .btn:hover {
        background-color: #1C2A35 !important;
        border-color: #1C2A35;
        opacity: 1.0;
    }
    .btn:active {
        background-color: #1C2A35 !important;
        opacity: 1.0;
    }
    .btn:focus {
        background-color: #1C2A35 !important;
        opacity: 1.0;
        outline:none;
    }
}
.btn > .fa-angle-right, .fa-angle-left {
    font-size: 2em;
    background-color: transparent;
    border:0;
    color: #39bec1 !important;
}
p,a {
    margin:0;
    padding: .5em;
}

.navbar-brand {
    a {
        span {
            text-decoration: none !important;
            color: #fff !important;
        }
    }
}
li {
    .nav-link:hover {
        border-right: 4px #39bec180 solid !important;
        background-color: #2b4b61 !important;
        color:#39bec1 !important;
        opacity: 1 !important;
        i {
            color:#39bec1 !important;
        }
    }
    .nav-link.active {
        border-right: 4px #39bec140 solid !important;
        background-color: #203848 !important;
        color:#39bec1 !important;
        opacity: 1 !important;
        i {
            color:#39bec1 !important;
        }
    }
}

.position-absolute-bottom {
    position: absolute;
    bottom:0;
    border-top: 2px solid #7c7c7c;
}

@media all and (max-width:900px) {
    .sidebar {
        max-width: 100% !important;
    }
    .sidebarToggle
    {
        max-width: 100% !important;
        i {
            transform: rotate(-90deg); /* vendorless fallback */
            -o-transform: rotate(-90deg); /* opera */
            -ms-transform: rotate(-90deg); /* IE 10 */
            -moz-transform: rotate(-90deg); /* Firefox */
            -webkit-transform: rotate(-90deg);  /*safari and chrome */
        }
    }
    .position-absolute-bottom {
        position: relative;
        border-top: 1px solid #80808080;
    }
}
//menu animator
//
.animate {
    animation-duration: .3s; /* vendorless fallback */
    -o-animation-duration: .3s;   /* opera */
    -ms-animation-duration: .3s; /* IE 10 */
    -moz-animation-duration: .3s; /* Firefox */
    -webkit-animation-duration: .3s; /*safari and chrome */

    animation-fill-mode: both; /* vendorless fallback */
    -o-animation-fill-mode: both; /* opera */
    -ms-animation-fill-mode: both; /* IE 10 */
    -moz-animation-fill-mode: both; /* Firefox */
    -webkit-animation-fill-mode: both; /*safari and chrome */
}
//menu slider keyframes
//
@keyframes slideIn {
    0% {
        transform:translateY(-1rem);
        opacity: 0;
    }
    100% {
        transform:translateY(0rem);
        opacity: 1;
    }
    0% {
        transform:translateY(-1rem);
        opacity: 0;
    }
}

@-moz-keyframes slideIn {
    0% {
        transform:translateY(-1rem);
        opacity: 0;
    }
    100% {
        transform:translateY(0rem);
        opacity: 1;
    }
    0% {
        transform:translateY(-1rem);
        opacity: 0;
    }
}

@-webkit-keyframes slideIn {
    0% {
        transform:translateY(-1rem);
        opacity: 0;
    }
    100% {
        transform:translateY(0rem);
        opacity: 1;
    }
    0% {
        transform:translateY(-1rem);
        opacity: 0;
    }
}

@-o-keyframes slideIn {
    0% {
        transform:translateY(-1rem);
        opacity: 0;
    }
    100% {
        transform:translateY(0rem);
        opacity: 1;
    }
    0% {
        transform:translateY(-1rem);
        opacity: 0;
    }
}

@-ms-keyframes slideIn {
    0% {
        transform:translateY(-1rem);
        opacity: 0;
    }
    100% {
        transform:translateY(0rem);
        opacity: 1;
    }
    0% {
        transform:translateY(-1rem);
        opacity: 0;
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}


//menu fader keyframes
//
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}

@-moz-keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}

@-o-keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}

@-ms-keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    0% {
        opacity: 0;
    }
}

.fadeInOut {
    -webkit-animation-name: fadeInOut;
    animation-name: fadeInOut;
}

//menu fly in keyframes
//
@keyframes in {
    from {
        max-width: 0px;
    }
    to {
        max-width: 250px;
    }
}

@-moz-keyframes in {
    from {
        max-width: 0px;
    }
    to {
        max-width: 250px;
    }
}

@-webkit-keyframes in {
    from {
        max-width: 0px;
    }
    to {
        max-width: 250px;
    }
}

@-o-keyframes in {
    from {
        max-width: 0px;
    }
    to {
        max-width: 250px;
    }
}

@-ms-keyframes in {
    from {
        max-width: 0px;
    }
    to {
        max-width: 250px;
    }
}

.in {
    -webkit-animation-name: in;
    animation-name: in;
}

//menu fly out keyframes
//
@keyframes out {
    from {
        max-width: 250px;
    }
    to {
        max-width: 40px;
    }
}

@-moz-keyframes out {
    from {
        max-width: 250px;
    }
    to {
        max-width: 40px;
    }
}

@-webkit-keyframes out {
    from {
        max-width: 250px;
    }
    to {
        max-width: 40px;
    }
}

@-o-keyframes out {
    from {
        max-width: 250px;
    }
    to {
        max-width: 40px;
    }
}

@-ms-keyframes out {
    from {
        max-width: 250px;
    }
    to {
        max-width: 40px;
    }
}

.out {
    -webkit-animation-name: out;
    animation-name: out;
}