<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-md-block navbar-light sidebar mr-2 shadow">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/issues/dashboard" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}"><i
                                class="mr-1 fas fa-tachometer-alt"></i>Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/issues/list" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}"><i class="mr-1 fas fa-bug"></i>View Issues</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/issues/new" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}"><i class="mr-1 fas fa-file-alt"></i>Submit
                            Issue</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="col-md-9 main-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>