<div class="container ml-auto mr-auto vh-100">
    <div class="row justify-content-center">
        <div class="mt-5 col-xs-12 col-sm-10 col-md-8">
            <h4>User Registration</h4>
            <div class="row bg-danger w-100 p-0 m-0 justify-content-center">
                <div class="col-md-10 text-left py-2 text-white" *ngIf="errorMessage">
                    <h5>{{errorMessage}}</h5>
                    <button class="btn" (click)="resetPassword()">Reset Password</button>
                </div>
            </div>
            <form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && onSubmit()">
                <div formGroupName="registrationData">
                    <div class="form-group">
                        <label for="fName">First Name<span class="ml-1 text-danger">*</span></label>
                        <input type="text" id="fName" formControlName="fName" class="form-control">
                        <span
                            *ngIf="!registerForm.get('registrationData.fName').valid && registerForm.get('registrationData.fName').touched"
                            class="help-block">
                            <span *ngIf="registerForm.get('registrationData.fName').errors['required']">This field is
                                required!
                            </span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="lName">Last Name<span class="ml-1 text-danger">*</span></label>
                        <input type="text" id="lName" formControlName="lName" class="form-control">
                        <span
                            *ngIf="!registerForm.get('registrationData.lName').valid && registerForm.get('registrationData.lName').touched"
                            class="help-block">
                            <span *ngIf="registerForm.get('registrationData.lName').errors['required']">This field is
                                required!
                            </span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="email">Email<span class="ml-1 text-danger">*</span></label>
                        <input type="email" id="email" formControlName="email" class="form-control">
                        <span
                            *ngIf="!registerForm.get('registrationData.email').valid && registerForm.get('registrationData.email').touched"
                            class="help-block">
                            <span *ngIf="registerForm.get('registrationData.email').errors['required']">This field is
                                required!
                            </span>
                            <span *ngIf="registerForm.get('registrationData.email').errors['pattern']">
                                Please enter a valid email format e.g email@example.com.
                            </span>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="password">Password<span class="ml-1 text-danger">*</span></label>
                        <input type="password" id="password" formControlName="password" class="form-control">
                        <span
                            *ngIf="!registerForm.get('registrationData.password').valid && registerForm.get('registrationData.password').touched"
                            class="help-block">
                            <span *ngIf="registerForm.get('registrationData.password').errors['pattern']">
                                Your password must be at least 8 characters long, contain at least one number, one
                                uppercase character, and one special character.
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col btn-group-custom" role="group" aria-label="failed update options">
                    <button [attr.disabled]="!registerForm.valid ? true : null" class="btn w-25 mr-2"
                        type="submit">Submit</button>
                    <button class="btn w-25" routerLink="/login">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>