<div *ngIf="issues$ && !errors" class="row justify-content-center">
    <div class="mt-5 col-xs-12 col-sm-10 col-md-8">
        <h4>Bug Tracker</h4>
        <h4>Updating Bug: ID#{{id}}</h4>
        <form [formGroup]="updateIssueForm" (ngSubmit)="updateIssueForm.valid && onSubmit()">
            <div formGroupName="issueData">
                <div class="form-group">
                    <label for="tech">Assigned Technician<span class="ml-1 text-danger">*</span></label>
                    <select class="form-control" name="tech" id="tech" formControlName="tech">
                        <option *ngFor="let tech of techs$" [ngValue]="tech.username">
                            {{tech.username}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="status">Status<span class="ml-1 text-danger">*</span></label>
                    <select name="status" id="status" formControlName="status" class="form-control">
                        <option value="Open">Open</option>
                        <option value="Pending">Pending</option>
                        <option value="Closed">Closed</option>
                    </select>
                    <span
                        *ngIf="!updateIssueForm.get('issueData.status').valid && updateIssueForm.get('issueData.status').touched"
                        class="help-block">
                        <span *ngIf="updateIssueForm.get('issueData.status').errors['required']">This field is
                            required!</span>
                    </span>
                </div>
                <div class="form-group">
                    <label for="priority">Priority<span class="ml-1 text-danger">*</span></label>
                    <select name="priority" id="priority" formControlName="priority" class="form-control">
                        <option value="Low">Low</option>
                        <option value="Normal">Normal</option>
                        <option value="High">High</option>
                        <option value="Urgent">Urgent</option>
                    </select>
                    <span
                        *ngIf="!updateIssueForm.get('issueData.priority').valid && updateIssueForm.get('issueData.priority').touched"
                        class="help-block">
                        <span *ngIf="updateIssueForm.get('issueData.priority').errors['required']">This field is
                            required!</span>
                    </span>
                </div>
                <div class="form-group">
                    <label for="notes">Add Notes:</label>
                    <textarea name="notes" id="notes" cols="30" rows="10" formControlName="notes"
                        class="form-control"> </textarea>
                </div>
            </div>
            <button class="btn w-25 mr-2" type="submit">Save</button>
            <button class="btn w-25" routerLink="/issues/list">Cancel</button>
        </form>
    </div>
</div>
<div *ngIf="errors" class="errors container-fluid">
    <div class="row">
        <div class="col">
            <span class="text-center">
                <p><i class="fas fa-exclamation-triangle"></i></p>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h4>{{ errors.title }}</h4>
            <h6>{{ errors.subTitle }}</h6>
            <p>{{ errors.message }}</p>
        </div>
    </div>
    <div class="row btn-group-custom justify-content-center w-100" role="group" aria-label="...">
        <a class="btn w-25 m-1" routerLink="/issues/list">View Open Tickets</a>
        <a class="btn w-25 m-1" routerLink="/issues/update/{{id}}">Load Updated Issue</a>
        <a class="btn w-25 m-1" routerLink="/issues/details/{{id}}">View Updated Issue</a>
    </div>
</div>