<h6 *ngFor="let error of errors" class="text-center alert alert-danger bg-danger text-white border-0 rounded-0 w-100" role="alert">{{error}}</h6>
<div class="container-fluid mt-2">
    <div class="row dashboard-widgets justify-content-between">
        <div class="col-md-8 text-left">
            <a routerLink="/dashboard/admin/issues">
                <i class="mr-1 fas fa-file-alt"></i>
                Manage Issues
            </a>
            <a routerLink="/dashboard/admin/users">
                <i class="mr-1 fas fa-user"></i>
                Manage Users
            </a>
        </div>
        <div class="col-md-4 text-right">
            <a routerLink="/dashboard/admin/reports">
                <i class="mr-1 fas fa-chart-line"></i>
                Generate Report
            </a>
        </div>
    </div>
    <div class="row dashboard-widget">
        <div class="col-sm-6 col-md-3 mb-1 mb-md-0">
            <div class="card shadow">
                <div class="card-header bg-dark text-light">Open Issues</div>
                <div class="card-body">
                    <h2 class="card-text text-center">{{ticketStats.status.open}}</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-1 mb-md-0">
            <div class="card shadow">
                <div class="card-header bg-dark text-light">Pending Issues</div>
                <div class="card-body">
                    <h2 class="card-text text-center">{{ticketStats.status.pending}}</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-1 mb-md-0">
            <div class="card shadow">
                <div class="card-header bg-dark text-light">Closed Issues</div>
                <div class="card-body">
                    <h2 class="card-text text-center">{{ticketStats.status.closed}}</h2>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 mb-1 mb-md-0">
            <div class="card shadow">
                <div class="card-header bg-dark text-light">Progress</div>
                <div class="card-body">
                    <h2 class="text-center m-0 p-0">{{progress | percent}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row dashboard-widget">
        <div class="col-sm-12 col-md-6 mb-1 mb-md-0">
            <div class="card shadow">
                <div class="card-header bg-dark text-light">Issues by Priority</div>
                <div class="card-body">
                    <div class="chart-wrapper">
                        <canvas baseChart [data]="pieChartData2" [labels]="pieChartLabels2" [chartType]="pieChartType2"
                            [options]="pieChartOptions2" [plugins]="pieChartPlugins2" [legend]="pieChartLegend2"
                            [colors]="pieChartColors">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 mb-1 mb-md-0">
            <div class="card shadow">
                <div class="card-header bg-dark text-light">Issues by Status</div>
                <div class="card-body">
                    <div class="chart-wrapper">
                        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                            [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend"
                            [colors]="pieChartColors">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row dashboard-widget">
        <div class="col-sm-12">
            <div class="card shadow">
                <div class="card-header bg-dark text-light">All Issues from {{this.lastWeek[0] | date:'MM/dd/yyyy'}} to
                    {{this.thisWeek[6] | date:'MM/dd/yyyy'}} </div>
                <div class="card-body">
                    <div class="col-sm-12">
                        <div *ngIf="lineChartData" id="lineChart" class="chart-wrapper mb-4">
                            <canvas baseChart width="1" height="1" [chartType]="'line'"
                                [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                                [legend]="true" [colors]="lineChartColors">
                            </canvas>
                        </div>
                    </div>
                    <app-dynamic-table [tableHeaders]="['Technician', 'Open', 'Pending', 'Closed', 'Progress']"
                        [tableDataFields]="['tech','open','pending','closed', 'progress']" [data]="techs"
                        [filterControl]=false [pagination]=false>
                    </app-dynamic-table>
                </div>
            </div>
        </div>
    </div>
    <div class="row dashboard-widget">
        <div class="col-sm-12">
            <div class="card shadow">
                <div class="card-header bg-dark text-light">Recent Technican Activity</div>
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row table-responsive">
                            <div class="col">
                                <table class="table table-sm table-striped table-dark text-nowrap">
                                    <thead>
                                        <th>Date</th>
                                        <th>Technician</th>
                                        <th>Action Taken</th>
                                        <th>ID</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of userHistory.reverse() | slice:0:10">
                                            <td>{{item.history.date.toDate() | date:'MM/dd/yyyy'}}</td>
                                            <td>{{item.username}}</td>
                                            <td>{{item.history.action}}</td>
                                            <td>{{item.history.issueId}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>