<div class="row justify-content-center">
    <div class="mt-5 col-xs-12 col-sm-10 col-md-8">
        <h4>Bug Tracker</h4>
        <h4>Report a new Bug:</h4>
        <form [formGroup]="newIssueForm" (ngSubmit)="newIssueForm.valid && onSubmit()">
            <div formGroupName="issueData">
                <div class="form-group">
                    <label for="title">Title<span class="ml-1 text-danger">*</span></label>
                    <input type="text" id="title" formControlName="title" class="form-control">
                    <span
                        *ngIf="!newIssueForm.get('issueData.title').valid && newIssueForm.get('issueData.title').touched"
                        class="help-block">
                        <span *ngIf="newIssueForm.get('issueData.title').errors['required']">This field is
                            required!</span>
                        <span
                            *ngIf="newIssueForm.get('issueData.title').errors['minlength'] || newIssueForm.get('issueData.title').errors['maxlength']">
                            Input must be between 10 and 50 characters. char count.
                            {{newIssueForm.get('issueData.title').value.length}}
                        </span>
                    </span>
                </div>
                <div class="form-group">
                    <label for="tech">Assigned Technician<span class="ml-1 text-danger">*</span></label>
                    <select class="form-control" name="tech" id="tech" formControlName="tech">
                        <option *ngFor="let user of users$" [ngValue]="user.username">
                            {{user.role | uppercase}} - {{user.fName}} {{user.lName | slice:0:1}}.
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="priority">Priority</label>
                    <select name="priority" id="priority" formControlName="priority" class="form-control">
                        <option value="Low">Low</option>
                        <option value="Normal">Normal</option>
                        <option value="High">High</option>
                        <option value="Urgent">Urgent</option>
                    </select>
                    <span
                        *ngIf="!newIssueForm.get('issueData.priority').valid && newIssueForm.get('issueData.priority').touched"
                        class="help-block">
                        <span *ngIf="newIssueForm.get('issueData.priority').errors['required']">This field is
                            required!</span>
                    </span>
                </div>
                <div class="form-group">
                    <label for="severity">Severity<span class="ml-1 text-danger">*</span></label>
                    <select name="severity" id="severity" formControlName="severity" class="form-control">
                        <option value="Cosmetic">Cosmetic</option>
                        <option value="Minor">Minor</option>
                        <option value="Moderate">Moderate</option>
                        <option value="Major">Major</option>
                        <option value="Critical">Critical</option>
                    </select>
                    <span
                        *ngIf="!newIssueForm.get('issueData.severity').valid && newIssueForm.get('issueData.severity').touched"
                        class="help-block">
                        <span *ngIf="newIssueForm.get('issueData.severity').errors['required']">This field is
                            required!</span>
                    </span>
                </div>
                <div class="form-group">
                    <label for="difficulty">Difficulty</label>
                    <select name="difficulty" id="difficulty" formControlName="difficulty" class="form-control">
                        <option value="Easy">Easy</option>
                        <option value="Normal">Normal</option>
                        <option value="Hard">Hard</option>
                    </select>
                    <span
                        *ngIf="!newIssueForm.get('issueData.difficulty').valid && newIssueForm.get('issueData.difficulty').touched"
                        class="help-block">
                        <span *ngIf="newIssueForm.get('issueData.difficulty').errors['required']">This field is
                            required!</span>
                    </span>
                </div>
                <div class="form-group">
                    <p for="desc">Description</p>
                    <label for="summary">Summary<span class="ml-1 text-danger">*</span></label>
                    <textarea name="summary" id="summary" cols="30" rows="5" formControlName="summary"
                        class="form-control"> </textarea>
                    <span
                        *ngIf="!newIssueForm.get('issueData.summary').valid && newIssueForm.get('issueData.summary').touched"
                        class="help-block">
                        <span *ngIf="newIssueForm.get('issueData.summary').errors['required']">This field is
                            required!</span>
                        <span
                            *ngIf="newIssueForm.get('issueData.summary').errors['minlength'] || newIssueForm.get('issueData.summary').errors['maxlength']">
                            Input must be between 15 and 255 characters. char count.
                            {{newIssueForm.get('issueData.summary').value.length}}
                        </span>
                    </span>
                </div>
                <div class="form-group">
                    <label for="reproduce">Steps to Reproduce<span class="ml-1 text-danger">*</span></label>
                    <textarea name="reproduce" id="reproduce" cols="30" rows="5" formControlName="reproduce"
                        class="form-control"> </textarea>
                    <span
                        *ngIf="!newIssueForm.get('issueData.reproduce').valid && newIssueForm.get('issueData.reproduce').touched"
                        class="help-block">
                        <span *ngIf="newIssueForm.get('issueData.reproduce').errors['required']">This field is
                            required!</span>
                        <span
                            *ngIf="newIssueForm.get('issueData.reproduce').errors['minlength'] || newIssueForm.get('issueData.reproduce').errors['maxlength']">
                            Input must be between 15 and 255 characters. char count.
                            {{newIssueForm.get('issueData.reproduce').value.length}}
                        </span>
                    </span>
                </div>
                <div class="form-group">
                    <label for="expctRes">Expected Results<span class="ml-1 text-danger">*</span></label>
                    <textarea name="expctRes" id="expctRes" cols="30" rows="5" formControlName="expctRes"
                        class="form-control"> </textarea>
                    <span
                        *ngIf="!newIssueForm.get('issueData.expctRes').valid && newIssueForm.get('issueData.expctRes').touched"
                        class="help-block">
                        <span *ngIf="newIssueForm.get('issueData.expctRes').errors['required']">This field is
                            required!</span>
                        <span
                            *ngIf="newIssueForm.get('issueData.expctRes').errors['minlength'] || newIssueForm.get('issueData.expctRes').errors['maxlength']">
                            Input must be between 15 and 255 characters. char count.
                            {{newIssueForm.get('issueData.expctRes').value.length}}
                        </span>
                    </span>
                </div>
                <div class="form-group">
                    <label for="actlRes">Actual Results<span class="ml-1 ml-1 text-danger">*</span></label>
                    <textarea name="actlRes" id="actlRes" cols="30" rows="5" formControlName="actlRes"
                        class="form-control"> </textarea>
                    <span
                        *ngIf="!newIssueForm.get('issueData.actlRes').valid && newIssueForm.get('issueData.actlRes').touched"
                        class="help-block">
                        <span *ngIf="newIssueForm.get('issueData.actlRes').errors['required']">This field is
                            required!</span>
                        <span
                            *ngIf="newIssueForm.get('issueData.actlRes').errors['minlength'] || newIssueForm.get('issueData.actlRes').errors['maxlength']">
                            Input must be between 15 and 255 characters. char count.
                            {{newIssueForm.get('issueData.actlRes').value.length}}
                        </span>
                    </span>
                </div>
            </div>
            <div class="col btn-group-custom" role="group" aria-label="failed update options">
                <button class="btn w-25 mr-2" type="submit">Submit</button>
                <a class="btn w-25" routerLink="/dashboard/home">Cancel</a>
            </div>
        </form>
    </div>
</div>